* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1000px;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-family: 'Volkhov', serif;
    margin-bottom: 0px;
}
h3{
    color: #060606;
}
p{
    color: #707070;
}

button{
    font-size: 16px;
    line-height: 26px;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px transparent;
    background-color: #fb811e;
    color: white;
    transition: all 0.5s;
}
button:hover{
    background-color: #009f4d;
}
.container{
    max-width: 1200px;
}
.section{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.title h5{
    color: #fb811e;
    font-size: 22px;
}
.title h3{
    font-size: 40px;
    font-weight: 900;
}
.title p{
    font-size: 17px;
    color: #707070;
}
header{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    z-index: 9;
}
.header__left:hover a{
    color: black;
}
.header__left a{
    color: #fb811e;
    font-size: 32px;
    position: relative;
    font-family:'Volkhov', serif;
    transition: all 0.5s;
}
.header__left i{
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: 20px;
}
.header__right i{
    font-size: 20px;
}

.navbar{
    background-color: rgb(255, 179, 179);
}
/* ============= CAROUSEL ============= */
.postcarousel{
    overflow: hidden;
    display: flex;
}
.postcarousel__left{
    width: auto;
    position: relative;
    margin-left: 175px;
    margin-top: 29px;
}
.postcarousel__left h1{
    font-size: 120px;
    color: #f4f4f4;
    position: absolute;
    font-weight: 700;
    z-index: -1;
    top: -86px;
    left: -60px;
}
.postcarousel .postcarousel__left h3{
    font-size: 50px;
    color: black;
    font-weight: 700;
    margin-bottom: 24px;
}
.postcarousel__left p{
    font-size: 20px;
    line-height: 1.35;
    margin-bottom: 15px;
}
.postcarousel__left button{
    line-height: 26px;
    margin-top: 33px;
}
.postcarousel__right{
    width: 60%;
    position: relative;
    height: 100vh;
}
.postcarousel__right::before{
    content: "";
    background-color: rgba(0, 0, 0, 99%);
    width: 100%;
    height: 100vh;
}
.carousel-item img{
    height: 100vh;
    width: 100%;
    display: inline-block;
    object-fit: top left;
    border-radius: 0 0 0 20px;
}
.carousel-item{
    text-align: right;
}
.carousel-item h4{
    font-size: 24px;
    font-family: 'Volkhov', serif;
}
.carousel-item span{
    font-family: 'Source Sans Pro', sans-serif;
}
.carousel-item p{
    font-size: 17px;
    color: #fff;
}
.carousel__text{
    position: absolute;
    bottom: 14px;
    right: -134px;
    line-height: 0.5;
}
/* ========GROW GROW GROW======== */
.grow__left{
    padding-left: 30px;
}
.grow__left button{
    margin-top: 48px;
}
.grow__item{
    padding: 10px;
}
.item__background{
    padding: 30px 15px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 25px 98px 0 rgba(0 , 0 , 0 ,10%);
    text-align: center;
}
.grow__item img{
    max-width: 65px;
    margin: 0 75px;
}
.grow__item a{
    font-size: 20px;
    margin-top: 25px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    line-height: 28px;
    display: block;
    transition: all 0.5s;
}
.grow__item a:hover{
    color: #009f4d;
}
.services{
    background-color: #009f4d;
}
.services__title{
    color: white; 
    position: relative;
    padding: 15px 0;
    margin-bottom: 50px;
}
.services__title h4{
    position: absolute;
    z-index: 0;
    opacity: 0.14;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 12vw;font-weight: bolder
}
.services__title h5{
    font-size: 22px;
    line-height: 28px;
}
.services__title h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
}
.services__title p{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.35;
    margin-top: -5px;
    margin-left: 15px;
    color: #fff;
}
.services__title .title1 , .services__title .title2{
    width: 50%;
}
.services__title .title1{
    margin-top: -13.5px;
}
.services__text{
    background-color: #fff;
    padding: 30px 21px 15px;
    border-radius: 0 0 20px 20px;
}
.services__image img{
    border-radius: 20px 20px 0 0;
}
.services__text button{
    display: block;
    font-size: 16px;
    color: #009f4d;
    padding: 5px 20px;
    background-color: #009f4d29;
    border-radius: 15px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: auto;
    border: 0px;
    line-height: 1.5;
}

.services__text a{
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-top: 12px;
    transition: all 0.5s;
}
.services__text a:hover{
    color: #009f4d;
}
.services__text p{
    font-size: 17px;
    margin-top: 12px;
    line-height: 1.6;
}
/* ======= season season season ======= */
.season__left{
    margin-top: 17px;
}
.title__top h5{
    font-size: 22px;
    line-height: 28px;
    color: #fb811e;
}
.title__top h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}
.title__top p{
    font-size: 17px;
    line-height: 27px;
}
.title__bot span{
    font-size: 30px;
    color: #fb811e;
}
.title__bot h4{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}
.title__bot p{
    font-size: 17px;
    line-height: 27px;
}
.season__right{
    padding-left: 114px;
    position: relative;
}
.season__right img{
    border-radius: 30px;
}
.season__right .text{
    padding: 40px;
    position: absolute;
    bottom: 40px;
    left: 14px;
    background-color: #fb811e;
    color: #fff;
    text-align: center;
    border-radius: 0 0 100px 0;
    min-width: 300px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
}
.season__right h6{
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
}
.season__right p{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
}
/* ======= BLOG BLOG BLOG ======= */
.blog__item{
    margin-top: 30px;
}
.blog__bg{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 2rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.blog__bg:hover{
    border: 1px solid #eee;
}
.blog__text h4{
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    transition: all 0.3s ease-in-out;
}
.blog__bg:hover h4{
    color: #009f4d;
}
.blog__text p{
    font-size: 17px;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 0;
}
/* ====== GALLERY GALLERY GALLERY ====== */
.gallery__item{
    position: relative;
}
.gallery__item img{
    width: 100%;
}
.gallery__item h5{
    position: absolute;
    color: white;
    background: rgb(255 255 255 / 27%);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
    font-size: 1.25rem;
    line-height: 28px;
    font-weight: bold;
    padding: 6px;
    text-align: center;
}